body {
    background-image: url("../images/background.jpg");
    background-size: contain;
    background-position: 25% 40% fixed;
}

.mainContain {
    background:rgba(255,255,255, 0.8);
}

#dogphoto {
    width: 60%
}
