body {
    background-image: url("../images/background.jpg");
    /* background-size: contain; */
    background-position: left bottom;
    background-attachment: fixed
}

.mainContain {
    background:rgba(255,255,255, 0.8);
}

#dogphoto {
    width: 60%
}

.abouttxt {
    font-size: 16px;
    font-weight: bold
}